In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean
import os

In [3]:
spark=SparkSession.builder.appName("TitanicDataClean").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/11 11:33:42 WARN Utils: Your hostname, cusat-SBKPF, resolves to a loopback address: 127.0.1.1; using 172.16.64.46 instead (on interface eno1)
25/07/11 11:33:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/11 11:33:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
BASE_DIR = os.getcwd()  # Current working directory in Jupyter
DATA_PATH = os.path.normpath(os.path.join(BASE_DIR, "datasets/titanic.csv"))

In [10]:
print(DATA_PATH)

/home/jd/BigDataAnalytics/dataCleaning/datasets/titanic.csv

In [20]:
df=spark.read.csv("/home/jd/BigDataAnalytics/datasets/titanic.csv",header=True)

In [21]:
df = df.na.fill({"Age": df.select(mean("Age")).first()[0]})